<div class="home">
    <form #passwordForm="ngForm" (ngSubmit)="onSubmit()" class="form">
        <p class="form-title">Change password</p>
        <p>
            <mat-form-field>
                <input matInput placeholder="New password" type="password" required (keyup)="setPW($event)" [(ngModel)]="gebruiker.password" name="password"/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Confirm password" type="password" required (keyup)="setCP($event)" name="conpassword"/>
            </mat-form-field>
        </p>
        <p><button [disabled]="!checkPasswords()" mat-raised-button class="btn-submit" type="submit"  routerLinkActive="router-link-active" >Verander</button></p>

    </form>
</div>