<div class="home">
<form #registerForm="ngForm"(ngSubmit)="onSubmit()" class="form">
        <p>
            <mat-form-field>
                <input matInput placeholder="Email" type="email" (keyup)="checkEmail($event)" required [(ngModel)]="gebruikerLogin.email"
                name="email" />
            </mat-form-field>
            <span *ngIf="bestaatAl">Er bestaat al een account met dit email adres!</span>
        </p>
        <div>
            <p>
                <!--Type="password"-->
                <mat-form-field>
                <input matInput placeholder="Password" type="password" required (keyup)="setPW($event)" [(ngModel)]="gebruikerLogin.password" name="password"/>
                </mat-form-field>
            </p>
            <p>
                    <!--Type="password"-->
                    <mat-form-field>
                    <input matInput placeholder="Confirm password" type="password" required (keyup)="setCP($event)" name="conpassword"/>
                    </mat-form-field>
                </p>
        </div>
        <p><button [disabled]="!checkPasswords() || bestaatAl" mat-raised-button class="btn-submit" type="submit"  routerLinkActive="router-link-active" >Registreer</button></p>
        <p><a [routerLink]="['/']" routerLinkActive="router-link-active" class="login-backbtn">&lt; Terug</a> </p>
        <p><a [routerLink]="['/login']" routerLinkActive="router-link-active" class="login-backbtn">Ik heb al een account</a> </p>
        </form>
    </div>