<div >
    <app-navigation></app-navigation>
    <div class="form-position">
        <!--FORMULIER-->
        <form class="form horizontalFlex" [formGroup]="newPollForm"(ngSubmit)="onSubmit()" >
            <div class="col-6 col-s-12" >Poll
                <!--Titel input field-->
                <p>
                    <mat-form-field style="width:100%">
                        <input matInput type="text" placeholder="Vraag" required formControlName="titel"/>
                    </mat-form-field>
                </p>
                <!--Antwoorden input fields -->
                <div >Antwoorden: <br/>
                    <div id="antwoordenContainer">
                        <div id="antwoorden">
                            <mat-form-field>
                                <input matInput type="text" required formControlName="antwoord1"/>
                            </mat-form-field><br/>
                            <mat-form-field>
                                <input matInput type="text" required formControlName="antwoord2" />
                            </mat-form-field><br/>
                            <!--Toegevoegde antwoorden die links moeten staan-->
                            <div *ngFor="let arrayItem of arrayItems; let i=index">
                                <mat-form-field>
                                    <input matInput type="text" [formControlName]="'antwoord'+(3+i)" />
                                </mat-form-field><br/>
                            </div>
                            <p [hidden]="limit">Maximaal aantal opties bereikt</p>
                        </div>    

                        <!--Toegevoegde antwoorden die rechts moeten staan-->
                        <div id="antwoordenExtra">
                            <div *ngFor="let arrayItem of arrayItemsEx; let i=index">
                                <mat-form-field>
                                    <input matInput type="text" [formControlName]="'antwoord'+(6+i)" />
                                </mat-form-field><br/>
                            </div>
                        </div>   
                    </div> 
                </div>
                <!--Submit button-->
                <button mat-button type="button" [disabled]="!limit" (click)="voegAntwoordToe()">+ Voeg antwoord toe</button>
            <p><button mat-raised-button class="btn-submit" type="submit" [disabled]="!newPollForm.valid || !vriendenMinimum">Maak poll</button></p>
            </div>
            <!--Vriendenlijst-->
            <div id="vrienden" class="col-6 col-s-12">
                VRIENDENLIJST (selecteer minstens 2)<br/><br/>
                <div *ngFor="let item of arrayVrienden; let i = index" class="vriendenlijst" formArrayName="vriendenArray">
                    <ng-container  *ngIf="checkLocalStorageUser(item.gebruiker1.email);else elseBlock">
                        <button mat-button type="button" id="gebruiker{{item.gebruiker2.gebruikerId}}" (click)=addFriend(item.gebruiker2.gebruikerId)>{{item.gebruiker2.email}}</button>
                    </ng-container>
                
                    <ng-template #elseBlock>
                        <button mat-button type="button" id="gebruiker{{item.gebruiker1.gebruikerId}}" (click)=addFriend(item.gebruiker1.gebruikerId)>{{item.gebruiker1.email}}</button>
                    </ng-template>
                </div>
            </div>

            
        </form>
    </div>
</div>