<div class="home">
<form #securityForm="ngForm" (ngSubmit)="onSubmit()" class="form">
        <p>
            <mat-form-field>
            <input matInput placeholder="Email" type="email" required [(ngModel)]="gebruikerLogin.email"
            name="email" />
            </mat-form-field>
        </p>
        <p>
            <!--Type="password"-->
            <mat-form-field>
            <input matInput placeholder="Password" type="password" required [(ngModel)]="gebruikerLogin.password" name="password"/>
            
            </mat-form-field>
            <div [hidden]="wrong">Password or email incorrect</div>
        <p><button mat-raised-button class="btn-submit" type="submit">Log in</button></p>
        <p><a [routerLink]="['/']" routerLinkActive="router-link-active" class="login-backbtn">	&lt; Terug</a> </p>
        <p><a [routerLink]="['/register']" routerLinkActive="router-link-active" class="login-backbtn">	Ik heb nog geen account</a> </p>
        </form>
    </div>