<div>
    <form class="friendrequest" [formGroup]="friendForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <label>Voer een e-mailadres in:</label>
            <input formControlName="email" required matInput type="email"/>
        </mat-form-field>
        <div>
            <button mat-button class="btn-submit" type="submit">Verzenden</button>
            <div *ngIf="verzonden">Verzonden!</div>
            <div *ngIf="alBevriend">Je bent al bevriend!</div>
        </div>
        
    </form>
</div>