/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.title{
    padding-bottom: 70px;
    font-size: 72pt;
}

.btn{
    font-size: 28pt;  
    color: white;
}




.nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(171,171,171,1);
    display: flex;
    justify-items: right;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    color: rgb(77, 75, 75);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 12pt!important;

  }
  
  li button:hover {
    background-color: #e6e4e4!important;
  }

  #antwoordenContainer{
      display: flex;
      flex-direction: row;
      justify-items: left;
  }

  #antwoorden{
      padding-right: 10px;
  }

  .horizontalFlex{
      display: flex;
  }

  #vrienden{
      border-left: lightgray dashed 1.5px;
      padding: 0 16px;
      margin-left: 16px;
      overflow-y: scroll;

  }

  .vriendenlijst{
    font-family: 'Montserrat', sans-serif;
  }

  .poll{
    background-color: #fff;
    text-align: left;
    margin: 5% 20%;
    padding: 10px;  
    border: 2px solid orange;
  }
  .checked{
      background-color: lightgreen;
  }

  .titel{
    font-family: 'Staatliches', cursive;
    border-bottom: 2px dashed orange;

  }

  .mat-badge-content{
    background-color: rgb(0, 26, 255);
    border: white 2px solid;
    top: 1% !important;
    left: 90%;
    font-size: 8px;
  }

  .friendrequest{
    background-color: #fff;
    padding: 16px;
    margin: 16px;
    border: 2px dashed orange;
    display: flex;
    justify-content: space-between;

  }

  .friend-title{
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.527); 
   }

.newfriend{
  padding: 16px;
}


/*NIEUWE LAYOUT*/
/*ALGEMEEN*/
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For medium: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1100px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
body{
  margin: 0 !important;
  background-color:#223;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/*DASHBOARD*/

.dashboard-title{
  font-family: 'Staatliches', cursive;
  color: #fff;
  text-align: center;
  font-size: 64px;
  border-bottom: 1px dashed white;
}

.dashboard-description{
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: 'Exo', sans-serif;
}

.card-container{
  display: inline;
}

.card{
  background-color: #fff;
  border-radius: 3px;
  width: 250px;
  height: 250px;
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.card-title{
  text-align: center;
  font-family: 'Exo', sans-serif;

}

.card-body{
  width: 240px;
  height: 160px;
}

.card-description{
  font-family: 'Open Sans', sans-serif;

}

/*HOME*/
.home{
  display: flex;
  margin-top: 22% ;
  align-items: center;
  flex-direction: column;
}

.home-title{
  font-family: 'Staatliches', cursive;
  color: #fff;
  text-align: center;
  font-size: 96px;
  margin-bottom: 16px;
}

.home-btn{
  padding: 8px!important;
  margin: 8px!important;
  width: 150px;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
}

/*LOGIN*/
.form{
  background-color: #fafafa;
  padding: 24px 40px;
  box-shadow: 0px 0px 8px 0px rgba(171,171,171,1);
  border-radius: 8px;
  margin-top: 24px;
}

.login-backbtn{
  text-decoration: none;
  color: #222233;
}

.btn-submit{
  background-color: #222233;
  color:#fff;
}


