/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

.backgroundimage{
    background-image: url('assets/images/Jumbotron.png');
    background-color: rgb(237, 208, 245);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.jumbotron{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Staatliches', cursive;
    
}

.title{
    padding-bottom: 70px;
    font-size: 72pt;
}

.btn{
    font-size: 28pt;  
    color: white;
}

.form{
    background-color: #fafafa;
    padding: 24px 40px;
    box-shadow: 0px 0px 8px 0px rgba(171,171,171,1);
    border-radius: 8px;
    margin-top: 24px;
}

.backbtn{
    text-decoration: none;
}

.nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(171,171,171,1);
    display: flex;
    justify-items: right;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    color: rgb(77, 75, 75);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 12pt!important;

  }
  
  li button:hover {
    background-color: #e6e4e4!important;
  }

  #antwoordenContainer{
      display: flex;
      flex-direction: row;
      justify-items: left;
  }

  #antwoorden{
      padding-right: 10px;
  }

  .horizontalFlex{
      display: flex;
  }

  #vrienden{
      border-left: lightgray dashed 1.5px;
      padding: 0 16px;
      margin-left: 16px;
      overflow-y: scroll;

  }

  .vriendenlijst{
    font-family: 'Montserrat', sans-serif;
  }

  .poll{
    background-color: #fff;
    text-align: left;
    margin: 5% 20%;
    padding: 10px;  
    border: 2px solid orange;
  }
  .checked{
      background-color: lightgreen;
  }

  .titel{
    font-family: 'Staatliches', cursive;
    border-bottom: 2px dashed orange;

  }

  .mat-badge-content{
    background-color: rgb(0, 26, 255);
    border: white 2px solid;
    top: 1% !important;
    left: 90%;
    font-size: 8px;
  }

  .friendrequest{
    background-color: #fff;
    padding: 16px;
    margin: 16px;
    border: 2px dashed orange;
    display: flex;
    justify-content: space-between;

  }

  .friend-title{
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.527); 
   }

.newfriend{
  padding: 16px;
}


