<mat-toolbar class="nav">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <button mat-button matBadge="new" routerLink="/friends">Vriendschapsverzoeken WIP</button>
                </li>
                <li>
                    <button mat-button routerLink="/newpoll">Nieuwe poll WIP</button>
                </li>
                <li>
                    <button mat-button routerLink="/mypolls">Mijn polls WIP</button>
                </li>
                <li>
                    <button mat-button (click)="logUit()" [routerLink]="['/']" routerLinkActive="active">Log uit</button>
                </li>
            </ul>
</mat-toolbar>