<a class="card" routerLink="/{{itemlink}}" (click)="logUit()">
    <div *ngIf="pendingFriends != 0 && itemlink == 'friends' || pendingPolls != 0 && itemlink == 'mypolls'; else elseBlock" class="card-body">
        <div class="dashboard-card-new">Nieuwe verzoeken!</div>
    </div>
    <ng-template #elseBlock>
        <img *ngIf="itemlink != ''; else elseImg" src="../../../assets/images/{{itemlink}}.jpg" width="280px" height="200px"/>
        <ng-template #elseImg>
            <img  src="../../../assets/images/loguit.png" width="280px" height="200px"/>
        </ng-template>
    </ng-template>
    <div class="card-head">
        <p class="card-title">{{itemtitel}}</p>
        <p class="card-description">{{itemdescription}}</p>
    </div>
</a>